<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Лог</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Basket)}" />

    <h2>Лог</h2>

    <h4>вызовы методов:</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Время</td>
            <td>Класс</td>
            <td>Метод</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="log : ${logs}">
            <td th:text="${log.getTime()}"></td>
            <td th:text="${log.getClassName()}"></td>
            <td th:text="${log.getMethod()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>